<h1>What's up <%= current_user %></h1>
<p>You have <%= current_user.outstanding_expenses.count %> expenses to pay!</p>
<% current_user.expenses.each do |ex| %>
    <li><%= link_to ex.description, ex %></li>
<% end %>